html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.header {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.header t {
  font-size: 28px;
  text-align: center;
}

.header d {
  font-size: 16px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
  align-items: center;
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 300px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.card-img-top {
  height: 80px;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: #2c3e50;
}

.card-text {
  font-size: 16px;
  color: #34495e;
  text-align: center;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  margin-top: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  background-color: #0056b3;
  color: #fff;
}

footer {
  background-color: #2980b9;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
}

p {
  margin-bottom: 0.5em;
  font-weight: 300;
}